@import 'tailwindcss';
@import '@election/tailwind/index.css';

@theme {
	--color-bg-2: #f5f4ee;

	--color-topic-problem: #fffda0;
	--color-topic-action: #adf3eb;
	--color-topic-outcome: #1ac5ff;
	--color-topic-target: #05d6ba;
	--color-topic-timeframe: #ff91e5;
	--color-topic-budget: #ff8c4a;
	--color-topic-budget-src: #ffd4ad;
	--color-topic-not-indicate: #b70425;
}

@layer base {
	html {
		@apply scroll-smooth text-pretty antialiased;
		color-scheme: light;
		/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		/* https://base-ui.com/react/overview/quick-start#ios-26-safari */
		@apply relative;
		overflow-x: hidden;
		overflow-x: clip;
	}
}

@utility text-box-text {
	text-box: trim-both text;
}

@utility text-box-cap {
	text-box: trim-both cap alphabetic;
}
